altair==5.1.1
streamlit==1.36.0
pandas
pip==24.1
xlrd==2.0.1
openpyxl==3.1.4
plotly==5.22.0
numpy==1.26.0
requests==2.32.3
matplotlib==3.9.0
gspread
oauth2client
git+https://github.com/streamlit/gsheets-connection
streamlit_dynamic_filters

#pandas==2.2.2
#seaborn==0.13.2
#streamlit_gsheets
